*{
	margin:0;
	padding:0;
	background-color: white;
	color: black;

}


.box{
	display:grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	color: white;
	overflow: hidden;
}


.card{
 display: flex;
 flex-direction: column;
 /*justify-content: center;*/
	height:380px;
	/*width:300px;*/
	margin:10px;
	overflow: hidden;
	border:1px solid blue;
	padding:10px;
	border-radius:15px;
	background-color: black;


}

img{

    width: 100%;
    height: 200px;
	border-radius:15px;
border: 1px solid grey;"
place-self: center;

}

h3{
	background-color: transparent;
	color: white;
	padding-top: 10px;
}

span{
	background-color: transparent;
	color: white;
	padding-top: 10px;
	

}





